/////////////////////////////////////////////////////////////////

$font-size: (
  sm-3: 0.7rem,
  sm-2: 0.8rem,
  sm-1: 0.9rem,
  base: 1rem,
  lg-1: 1.2rem,
  lg-2: 1.4rem,
  lg-3: 1.6rem,
  lg-4: 1.8rem,
  lg-5: 2rem,
  lg-6: 2.2rem,
  lg-7: 2.4rem,
  lg-8: 2.6rem,
  lg-9: 2.8rem,
);

@mixin font-sizer {
  @each $name, $size in $font-size {
    &-#{$name} {
      font-size: $size !important;
    }
  }
}

.font {
  @include font-sizer;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$width-size: (
  1: 2rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem,
  7: 7rem,
  8: 8rem,
  9: 9rem,
  10: 10rem,
  11: 11rem,
  12: 12rem,
  13: 13rem,
  14: 14rem,
  15: 15rem,
  16: 16rem,
);

@mixin width-sizer {
  @each $name, $size in $width-size {
    &-#{$name} {
      width: $size !important;
    }
  }
}

.w {
  @include width-sizer;
}

/////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////

$rounded: (
  1: 1rem,
  2: 1.5rem,
  3: 2rem,
  4: 2.5rem,
  5: 3rem,
  6: 3.5rem,
  7: 4rem,
  8: 5.5rem,
  9: 6rem,
);

@mixin rounded {
  @each $name, $size in $rounded {
    &-#{$name} {
      border-radius: #{$size} !important;
    }
  }
}

.rounded-lg {
  @include rounded;
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
$border: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
);

@mixin border {
  @each $name, $size in $border {
    &-#{$name} {
      border-width: #{$size} !important;
    }
  }
}

.border-size {
  @include border;
}

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
